<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sup <%= @user.name %>!</h1>
    <p>
      Welcome to Gifster. You are awesome. We are awesome.<br>
    </p>
    <p>
      This is going to be fun.
    </p>
    <p>Thanks for joining and have super awesome day!</p>
  </body>
</html>